.icon{
    color: brown;
}
.edit_icon{
    color: darkgreen;
}
.icon:hover {
    color: darkgrey;
    cursor: pointer;
}
.task{
    width:50% !important;
}
@media screen and (max-width : 600px) {
    .task{
        width : 80% !important;
    }
}